<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <h3>Información sobre la Aplicación</h3>
          <p>
            Esta aplicación, llamada "Sistema de Objetos", es un proyecto de estudio diseñado para demostrar cómo construir una aplicación web completa utilizando tecnologías modernas. La aplicación permite a los usuarios realizar operaciones CRUD (Crear, Leer, Actualizar y Eliminar) en una entidad abstracta llamada "Objeto".
          </p>
          <h4>Funcionalidades</h4>
          <table class="table">
            <tbody>
              <tr>
                <td><i class="fas fa-plus-circle"></i> Agregar un nuevo objeto</td>
              </tr>
              <tr>
                <td><i class="fas fa-list"></i> Listar todos los objetos</td>
              </tr>
              <tr>
                <td><i class="fas fa-edit"></i> Editar los detalles de un objeto existente</td>
              </tr>
              <tr>
                <td><i class="fas fa-trash"></i> Eliminar un objeto</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  