<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
  <div class="card">
    <div class="card-body">
      <div class="text-center">
        <h3>Tecnologías Empleadas</h3>
        <p>
          Este proyecto utiliza una variedad de tecnologías modernas para el desarrollo de aplicaciones web.
        </p>
        <h4>Frontend</h4>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <img src="assets/images/angular-logo.png" alt="Angular Logo" style="height: 30px; margin-right: 10px;" />
                Angular: Framework para construir aplicaciones web
              </td>
            </tr>
            <tr>
              <td>
                <img src="assets/images/bootstrap-logo.png" alt="Bootstrap Logo" style="height: 30px; margin-right: 10px;" />
                Bootstrap: Framework CSS para el diseño responsivo
              </td>
            </tr>
            <tr>
              <td>
                <img src="assets/images/fontawesome-logo.png" alt="Font Awesome Logo" style="height: 30px; margin-right: 10px;" />
                Font Awesome: Biblioteca de iconos vectoriales
              </td>
            </tr>
            <tr>
              <td>
                <img src="assets/images/angular-logo.png" alt="HttpClient Logo" style="height: 30px; margin-right: 10px;" />
                HttpClient: Cliente HTTP para realizar solicitudes a la API
              </td>
            </tr>
          </tbody>
        </table>
        <h4>Backend</h4>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <img src="assets/images/spring-logo.png" alt="Spring Boot Logo" style="height: 30px; margin-right: 10px;" />
                Spring Boot: Framework para construir aplicaciones Java
              </td>
            </tr>
            <tr>
              <td>
                <img src="assets/images/springdata-logo.png" alt="Spring Data JPA Logo" style="height: 30px; margin-right: 10px;" />
                Spring Data JPA: Para interactuar con la base de datos
              </td>
            </tr>
            <tr>
              <td>
                <img src="assets/images/swagger-logo.png" alt="Swagger Logo" style="height: 30px; margin-right: 10px;" />
                Swagger: Documentación interactiva de la API
              </td>
            </tr>
            <tr>
              <td>
                <img src="assets/images/mysql-logo.png" alt="MySQL Logo" style="height: 30px; margin-right: 10px;" />
                MySQL: Sistema de gestión de bases de datos relacional
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
